01-com.project.factoryPattern/target/
02-com.project.dependencyInjection/target/

01-com.project.factoryPattern/.idea/
02-com.project.dependencyInjection/.idea/

01-com.project.factoryPattern/*.iml
02-com.project.dependencyInjection/*.iml
